.Blue{
   background-color: aqua;
   height: 300px;
   width: 600px;
   margin: 20px;
   border: 1px solid black;
   position: relative;
}

.Table{
    padding-left: 20px;
}

.Title{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.Brown{
    background-color: brown;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.Purple{
    height: 50px;
    width: 50px;
    background-color: purple;
    right: 0px;
    top: 0px;
    position: absolute;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.Yellow{
    background-color: yellow;
    display: flex;
    width: 100vw;
    height: 100px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.Green{
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    border: 1px solid black;
}