*{
    --House-Of-Ashes: 1570px;
}

.Header{
    width: 100vw;
    height: 85px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Text{
    color: gray;
    display: flex;
    justify-content: space-around;
    width: 450px;
    font: Arial;
}

.Images{
    color: gray;
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.Login{
    color: gray;
    position: absolute;
    margin-left:var(--House-Of-Ashes) ;
}
